<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>
        {% if title %}
            {{ title }}
        {% else %}
            FalconScoutCore
        {% endif %}
    </title>

</head>

<body>
    <nav class="border-gray-200 px-2 sm:px-4 py-2.5">
        <div class="container flex flex-wrap justify-between items-center mx-auto border-b-[2px] border-black">
            <a href="/" class="flex items-center">
                <img src="{{ url_for('static', filename='img/favicon.ico') }}" class="mr-3 h-6 sm:h-9" alt="4099 Falcon Logo"/>
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-black">FalconScout Core</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fillRule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clipRule="evenodd"></path>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="flex flex-col p-4 mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-md md:font-medium md:border-0">
                    <li>
                        <button class="ring-0 ring-gray-300 hover:ring-4 bg-black rounded-lg h-10 px-4 mr-2 text-white font-bold drop-shadow-sm" onclick="syncGithub()">
							Sync Github
						</button>
                        <button class="ring-0 ring-gray-300 hover:ring-4 bg-black rounded-lg h-10 px-4 text-white font-bold drop-shadow-sm" onclick="validateData()">
							Validate Data
						</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="">
        {% block content %}

        {% endblock content %}
    </div>
</body>

</html>
